*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    overflow: auto;
}

.conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.conteudo .texto{
    text-align: center;
}

.conteudo .texto h1{
    font-size: 2em;
    margin-bottom: 30px;
}